.header {

    &__container {
        &:after {
            &:extend(.container:after);
            top: 0;
            left: 223px;
            background: url('../img/bg-header.png') no-repeat right top;

            .xmd-block({
                left: 150px;
            });

            .md-block({
                left: 30px;
            });

            .xs-block({
                display: none;
            });
        }
    }
}

.menu {
    padding-top: 390px;
    padding-bottom: 390px;

    .hmd-block({
        padding-top: 370px;
        padding-bottom: 370px;
    });

    .mmd-block({
        padding-top: 250px;
        padding-bottom: 270px;
    });

    .xmd-block({
        padding-top: 160px;
        padding-bottom: 205px;
    });

    &__list {
        width: 450px;

        .xmd-block({
            width: 320px;
        });

        .xs-block({
            width: 100%;
            margin: 0 auto;
        });

        & li {
            margin-bottom: 50px;
            text-align: center;

            .xs-block({
                margin-bottom: 36px;
            });
        }

        & li a {
            font-size: 40px;
            line-height: 40px;
            font-weight: 300;
            color: @text;
            position: relative;
            z-index: 10;

            .xmd-block({
                font-size: 26px;
            });
    
            &:before,
            &:after {
                display: block;
                content: "";
                width: 58px;
                height: 27px;
                position: absolute;
                z-index: 2;
                top: 2px;
                opacity: 0;
                transition: all 0.5s ease;
            }
    
            &:before {
                background: url('../img/curl.png') no-repeat center center / cover;
                left: -85px;
            }
    
            &:after {
                background: url('../img/curl.png') no-repeat center center / cover;
                right: -85px;
                transform: rotateY(-180deg);
            }
    
            &:hover {
                color: @text;

                &::before,
                &::after {
                    opacity: 1;
                }
            }
        }

        &:before,
        &:after {
            display: block;
            content: "";
            position: absolute;
            width: 16px;
            background:  rgba(255, 204, 204, 0.5);
            left: 222px;
            border-radius: 3px;

            .xmd-block({
                left: 152px;
            });

            .xs-block({
                left: 50%;
                transform: translateX(-50%);
            });
        }

        &:before {
            height: 355px;
            top: 0;
            background: url('../img/decor-menu-up.png') no-repeat center center;

            .hmd-block({
                top: -18px;
            });

            .mmd-block({
                top: -150px;
            });

            .xmd-block({
                top: -230px;
            });
        }

        &:after {
            height: 250px;
            background: url('../img/decor-menu-up.png') no-repeat center center;

            .mmd-block({
                height: 180px;
            });

            .xmd-block({
                height: 115px;
            });
        }
    }
}

.presentation {
    padding-bottom: 70px;

    &__title {
        &:extend(.title-2);
        padding-left: 90px;

        .xmd-block({
            padding-left: 77px;
        });

        &:after {
            width: 320px;
            background: url('../img/h2-1.png') no-repeat center center;
            &:extend(.title-2-after);
            left: -292px;

            .xmd-block({
                left: -260px;
            });

            .xs-block({
                left: -266px;
            });
        }
    }

    &__book {
        width: 1000px;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 25;
        margin: 0 auto 60px;

        .mmd-block({
            width: 860px;
        });

        .md-block({
            width: 90%;
        });

        .xs-block({
            width: 100%;
        });
    }

    &__btn {
        &:extend(.btn);
    }

    &__bg {
        &:extend(.btn-bg);

        &:before {
            &:extend(.btn-bg:before);
        }

        &:after {
            &:extend(.btn-bg:after);
            opacity: 0;
        }
    }

    &__shadow {
        &:extend(.btn-shadow);
    }

    &__link {
        &:extend(.link);

        &:hover {
            &:extend(.link-hover);
        }
    }
}

.presentation__link:hover+.presentation__bg:before {
    opacity: 0;
    transform: translateY(12px);
}

.presentation__link:hover+.presentation__bg:after {
    opacity: 1;
    transform: translateY(12px);
}

.presentation__link:hover+.presentation__bg+.presentation__shadow {
    opacity: 0;
    transform: translateY(12px);
}

@media screen and (max-width: 420px) {
    .presentation__book {
       width: 290px;
       height: 163px;
    }
}
